
.main-view {
  height: 80vh;
  border: solid black 1px;
  margin-left: 5em;
  margin-right: 5em;
  background-color: #3b3d31;
  color: white;
  overflow: scroll;
  justify-content: center;
}
.main-view::-webkit-scrollbar{
  display: none;
}
.footer {
  border: solid black 1px;
  height: 15vh;
  margin-left: 5em;
  margin-right: 5em;
  border-top: solid rgb(0, 0, 0) 7px;
}
.header{
  border-bottom: 7px solid black;
  height: auto;
  background-color: #343a40;
  margin-left: 5em;
  margin-right: 5em;
  
}
@media (max-width: 1050px) {
  .main-view {
    height: vh;
    width: 100vw;
    border-top: -10px black solid;
    border-bottom: -10px rgb(255, 3, 3) solid;
  margin-left: 0em;
  margin-right: 0em;

  
  }
  .footer {
    border-top: solid rgb(0, 0, 0) 7px;
    width: 100vw;
    height: 15vh;
    
  margin-left: 0em;
  margin-right: 0em;
  }
  .header{
    height: auto;
    width: 100vw;
    background-color: #343a40;
    
  margin-left: 0em;
  margin-right: 0em;
  }
}
.background {
  background-image: url('./assets/images/Cream_Texture.png');
}